@media all { 
    /*default variables*/
    :root {
        --font: 400 15px "Verdana", sans-serif;
        --top-bar-height: 50px;
        --bottom-bar-height: 90px;
        --focus-blue: #0077ff;

        --bar-color: #fff8;
        --font-color: #222;
        --background-color: #fff;
        --secondary-background-color: #fff;
        --light-shadow    : 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        --dark-shadow     : 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
        --very-dark-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.29);
    }
}


@media screen and (prefers-color-scheme: dark) { 
    /*system dark mode variables*/
    :root {
        --bar-color: #4448;
        --font-color: #ddd;
        --background-color: #111;
        --secondary-background-color: #222;
        --light-shadow    : 0 1px 2px 0 rgba(30, 30, 30, 0.1), 0 2px 10px 0 rgba(30, 30, 30, 0.1);
        --dark-shadow     : 0 2px 4px 0 rgba(30, 30, 30, 0.2), 0 3px 15px 0 rgba(30, 30, 30, 0.19);
        --very-dark-shadow: 0 2px 4px 0 rgba(30, 30, 30, 0.3), 0 4px 20px 0 rgba(30, 30, 30, 0.29);
    }
}


body, html {
    height: 100%;
    margin: 0;
    font: var(--font);
    color: var(--font-color);
    background-color: var(--background-color);
    transition: background-color 200ms ease-in-out;
}




#navigationBar {
    width: 100%;
    height: var(--top-bar-height);
    margin: 0;
    position: fixed;
    z-index: 10;
    background-color: var(--bar-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #bbb;
    display: grid;

}
#navigationBar span {
    margin: auto;
    font-size: 20px;
}
#navigationBar a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 15px;
}






#bookmarkContainer {
    padding-top: var(--top-bar-height);
    padding-bottom: var(--bottom-bar-height);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: scroll;
}
@supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
    #bookmarkContainer {
        padding: 0;
        top: var(--top-bar-height);
        bottom: var(--bottom-bar-height);
    }
}
#bookmarks {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}





.bookmark {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px 16px 8px;
    width: calc(100% - 20px);
    min-height: 80px;
    box-sizing: border-box;
    box-shadow: var(--dark-shadow);
    background-color: var(--secondary-background-color);
    border: 1px solid #0000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    transition: all 200ms ease-in-out;
}
@media screen and (min-width: 512px) and (max-width: 767px) {
    .bookmark {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(50% - 40px);
    }
}
@media screen and (min-width: 768px) {
    .bookmark {
        margin-left: 30px;
        margin-right: 30px;
        width: calc(33.3333% - 60px);
    }
}
.bookmark .buttons {
    margin: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    display: flex;
}

@media (hover) {
    .bookmark:hover {
        box-shadow: var(--very-dark-shadow);
    }
    .bookmark:hover .buttons {
        opacity: 1;
        visibility: visible;
    }
}

.bookmark.highlighted {
    border: 1px solid var(--focus-blue);
}
.bookmark.highlighted .buttons {
    opacity: 1;
    visibility: visible;
}

.bookmark button {
    color: var(--focus-blue);
    -webkit-appearance: none;
    appearance: none;
    background: #0000;
    position: relative;
    font-size: 12px;
    border: 0;
}
.bookmark button.delete {
    color: red;
}






#bottomBar {
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--bottom-bar-height);
    position: fixed;
    z-index: 10;
    display: flex;
    background-color: var(--bar-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#bottomBar div {
    margin: 10px;
    margin-left: auto;
    margin-right: 5px;
    width: calc(100% - 100px);
    max-width: 768px;
    display: block;
    transition: box-shadow 200ms ease-in-out;
    display: flex;
    flex-direction: column;
}
#bottomBar div input {
    padding: 8px;
    -webkit-appearance: none;
    appearance: none;
    word-wrap: break-word;
    margin-top: 2px;
    font: var(--font);
    font-size: 13px;
    border: 0;
    border-radius: 0;
    color: var(--font-color);
    box-shadow: var(--light-shadow);
    background-color: var(--secondary-background-color);
}
#bottomBar button {
    margin: 10px;
    margin-left: 5px;
    margin-right: auto;
    width: 64px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    font: var(--font);
    color: var(--font-color);
    background-color: var(--secondary-background-color);
    box-shadow: var(--light-shadow);
    transition: all 200ms ease-in-out;
}

@media (hover) {
    #bottomBar textarea:hover, #bottomBar textarea:active, #bottomBar button:hover, #bottomBar button:active {
        box-shadow: var(--dark-shadow);
    }
}
#bottomBar button:active {
    opacity: 0.5;
    transition: opacity 100ms ease-out;
}
#bottomBar button:disabled {
    color: #777;
    opacity: 1;
    background-color: #0000;
    box-shadow: none;
}

@media print {
    #bottomBar {
        display: none;
    }
}




/* links */
a, a:hover, a:active, a:visited {
    color: #0077ff;
}
